<tr>
  <td>
    <p>Hi {{ user.firstName }},</p>
    <p>This is a confirmation that the password for your account {{ userEmail }} has been changed.</p>
    <p>Have a nice day.</p>
  </td>
</tr>
<p>{{ appName }}</p>

