<tr>
  <td>
    <p>Hi there,</p>
    <p>Seems like you need to reset your password? No problem. Just click the button below to get started.</p>
    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
        <tr>
          <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td> <a href="{{ resetUrl }}" target="_blank">Reset Password</a> </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <p>If you didn't request to change your password, you don't have to do anything. So that's easy.</p>
  </td>
</tr>
